django
djangorestframework
drf_spectacular
djangorestframework-simplejwt
pillow
django-nested-admin=4.1.14
django-autocomplete-light
django-cors-headers
django-mptt
django-ckeditor
pandas
django-filter
gunicorn==21.2.0
psycopg2