/* ---------- Radio Group ---------- */
.custom-radio-card .radio-label {
  cursor: pointer;
  color: #4a5568;
  background: #fff;
  border-color: #d1d5db;
  user-select: none;
  transition: all 0.2s;
  min-width: 80px;          /* اختیاری: حداقل عرض برای یکنواختی */
  position: relative;        /* برای موقعیت‌دهی تیک */
  padding-right: 20px;       /* فضای کافی برای تیک */
}
.custom-radio-card .radio-label:hover { background: #f9fafb; }
.custom-radio-card input:checked + .radio-label {
  background: #70abff;       /* آبی کم‌رنگ */
  border-color: #1e6dee;
  color: #1e40af;
}

/* تیک آبی پررنگ */
.check-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 0.9rem;           /* اندازه تیک */
  color: #2563eb;            /* آبی پررنگ */
  display: none;             /* به‌طور پیش‌فرض پنهان */
  font-weight: bold;
  line-height: 1;
}
.custom-radio-card input:checked + .radio-label .check-icon {
  display: block;            /* فقط در حالت انتخاب شده نمایش داده شود */
}
.custom-radio-card input:checked + .radio-label {
  background: #ebf4ff;
  border-color: #3b82f6;
  color: #1e40af;
}

.custom-radio-card input:checked + .radio-label .check-icon {
  display: block;
}

/* accordion icon rotate */
.bi-chevron-down.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s;
}