{% extends 'base/base.html' %}
{% block content %}
<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
  <div class="card p-4 shadow-lg" style="max-width: 28rem; width: 100%;">
    <h1 class="h3 font-weight-bold text-center mb-4">ورود یا ایجاد حساب کاربری</h1>

    <div class="btn-group w-100 mb-4" role="group">
      <a href="{% url "auth:template_auth_password" %}" class="btn btn-outline-secondary">ورود با رمز عبور</a>
      <a href="{% url "auth:template_auth_otp" %}" class="btn btn-primary">ورود با کد یکبار مصرف</a>
    </div>

    {% include 'components/auth/partial/_phone_otp_form.html' %}
  </div>
</div>
{% endblock %}