{#<div class="border-top border-gray-200">#}
{#  <button class="btn btn-link d-flex justify-content-between align-items-center w-100 py-3 text-decoration-none text-md font-weight-bold text-gray-800 bg-light px-2"#}
{#          type="button" data-toggle="collapse" data-target="#collapse{{ unique_id }}"#}
{#          aria-expanded="{% if default_open %}true{% else %}false{% endif %}">#}
{#    <span>{{ title }}</span>#}
{#    <i class="bi bi-chevron-down"></i>#}
{#  </button>#}
{#  <div id="collapse{{ unique_id }}" class="collapse {% if default_open %}show{% endif %}">#}
{#    <div class="pb-4 px-2">#}
{#      {{ children|safe }}#}
{#    </div>#}
{#  </div>#}
{#</div>#}